
- BRAND             = "Focuslab"

- SHARE_TITLE       = BRAND
- SHARE_IMAGE       = "http://www.focuslab.cl/img/shareimage.png"
- SHARE_DESCRIPTION = "Desarrollo de aplicaciónes web."

- RAND = Math.floor(Math.random()*100000)

block vars

include mixins
include mixins_articles
include mixins_sections

doctype html

<!--[if IE 8]>
<html lang="es" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es">
<!--<![endif]-->

block pageVars

head
	
	title=SHARE_TITLE

	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	meta(name='description', content=SHARE_DESCRIPTION)

	// Meta tags facebook
	meta(property='og:title', content=SHARE_TITLE)
	meta(property='og:description', content=SHARE_DESCRIPTION)
	meta(property='og:image', content=SHARE_IMAGE)

	// Meta tags twitter cards
	meta(name='twitter:card', content="summary_large_image")
	meta(name='twitter:title', content=SHARE_TITLE)
	meta(name='twitter:description', content=SHARE_DESCRIPTION)
	meta(name='twitter:image', content=SHARE_IMAGE)

	// Style
	link(href='css/main.css', rel='stylesheet', type='text/css')
	link(href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Montserrat', rel='stylesheet', type='text/css')
	link(href='img/favicon.png', rel='shortcut icon')

	// Scripts
	script(src='js/main.js')
	//[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]


body(page-id=PAGE_ID)

	include partials/header

	#body
		block page
	//include partials/footer

</html>